.container{
    display: inline-block;
    background-color: #3F3D56;
    height: 600px;
    width: 414px;
  
}
.title{
    position: relative;
    background-color: #3F3D56;
    color: aliceblue;
    height: 50px;
    width: 414px;
    text-align: center;
   
  
 
}
.stfont{
    background-color: #3F3D56;

   
  
    width: 414px;
}
.logo{
    position: relative;
    height: 250px;
    width: 180px;
    padding: 0;
    margin: 100px;
    animation: growing 2s ease-in-out infinite;
}
@keyframes growing {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(20px);
    }
    
}
.bkgdyellow{
    
   align-items: flex-end;
    margin: 180px;
    height: 15px;
    width: 20%;float: right;
   
    margin-top: 5px
}
.div4{
    color: aqua;
}
.btnbtn-outline-primary{
    display: flex;
    align-content: center;
}

.letsbegbttn{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    background-color: aliceblue;
    display: flow-root;
    margin: 10px;
    height: 300px;
    width: 414px;
    background-color: #9996b9;
 ;
   
  
  
  
}
.progressdots{
    margin: 50px;
}
.container1{
    background-color: #FAD02C;
    width: fit-content;
}

.btn btn-outline-primary{
    display: flow-root;
}