.container{
    display: inline-block;
    background-color: #3F3D56;
    height: 600px;
    width: 414px;
  
}
.title{
    position: relative;
    background-color: #3F3D56;
    color: aliceblue;
    height: 50px;
    width: 414px;
    text-align: center;
   
  
 
}
.stfont{
    background-color: #3F3D56;

   
  
    width: 414px;
}
.logo{
    position: relative;
    height: 250px;
    width: 180px;
    padding: 0;
    margin: 100px;
    animation: growing 2s ease-in-out infinite;
}
@keyframes growing {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(20px);
    }
    
}
.bkgdyellow{
    
   align-items: flex-end;
    margin: 180px;
    height: 15px;
    width: 20%;float: right;
   
    margin-top: 5px
}
.div4{
    color: aqua;
}
.btnbtn-outline-primary{
    display: flex;
    align-content: center;
}

.letsbegbttn{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    background-color: aliceblue;
    display: flow-root;
    margin: 1px;
    height: 150px;
    width: 325px;
    background-color: #9996b9;
 
}
/*-------------------- BUTTON STYLES ---------------*/
.dButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 20px;
    
    position: absolute;
    width: 160px;
    height: 45px;
    left: 115px;
    top: 718px;
    
    /* Dark Navy */
    
    background: #3F3D56;
    border-radius: 10px;


font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 25px;
/* identical to box height */


/* White */



/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
  }
  
  .fButton{
    position: static;
width: 97px;
height: 25px;
left: 31.5px;
top: 10px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 25px;
/* identical to box height */


/* White */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
}
.dropdown{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 20px;
    
    position: absolute;
    width: 160px;
    height: 45px;
    left: 115px;
    top: 718px;
    
    /* Dark Navy */
    
    background: #3F3D56;
    border-radius: 10px;


font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 25px; 
}

/*-------------------- BUTTON STYLES END---------------*/

.progressdots{
    margin: 50px;
}


.btn btn-outline-primary{
    display: flow-root;
}
.yButton{
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    position: absolute;
    height: 10px;
    left: 10px;
    right: 10px;
    font-size: medium;
   
   
}
.btnbtn-primarybtn-lg{
    height: 500px;
    color: chocolate;
}